@model AvaliacaoLP3.ViewModels.LojaViewModel;

@{
    ViewData["Title"] = "Detalhes da " + @Model.Nome;
}
<div class="text-center">
    <div class="container">
        <div class="text-left">
            <h3>@Model.Nome</h3>
            <hr>
           
        </div>
    </div>    
</div>

<p>Id: @Model.Id</p>
<p>Piso @Model.Piso</p>
<p>Categoria: @Model.Categoria</p>
<p>E-mail: @Model.Email</p>
<p class="text-break">Descrição: @Model.Descricao</p>

<form action="../Deletar/@Model.Id">
    <button class="btn btn-danger">Deletar</button>
</form>