@model List<AvaliacaoLP3.ViewModels.LojaViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Shrek's Mall</h1>
    <hr>
</div>

  <img src="https://th.bing.com/th/id/R.9714fb8b7b579a97923fe93819ea0a09?rik=nGnijsIJHBOuMw&riu=http%3a%2f%2f3.bp.blogspot.com%2f_GoN5EPxM4Y8%2fS-3O8XQippI%2fAAAAAAAAAJI%2fHkXJaFXTr1g%2fw1200-h630-p-k-no-nu%2fshrek1ta5.jpg&ehk=pSAxP5VoBMJYDsSxw%2be7nSSr%2fwE8mBWuRt2O9QXvh1w%3d&risl=&pid=ImgRaw&r=0">
  <br><br><br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">piso</th>
      <th scope="col">nome</th>
      <th scope="col">descrição</th>
      <th scope="col">loja/kiosque</th>
      <th scope="col">e-mail</th>
    </tr>
  </thead>
  <tbody>
    
    @foreach (var loja in Model)
    {
        <tr>
            <th scope="row">@loja.Id</th>
            <td>Piso @loja.Piso</td>
            <td>@loja.Nome</td>
            <td class="text-break">@loja.Descricao</td>
            <td>@loja.Categoria</td>
            <td>@loja.Email</td>
        </tr>
    }
    
  </tbody>
</table>